before_install:
- export TZ='Asia/Shanghai'  # 解决时区不统一的问题

install: 
- npm install

script: 
- hexo g

after_script: 
- cd ./public 
- git init 
- git config user.name "likai-Travis"
- git config user.email "likai@feipig.fun" 
- git add . 
- git commit -m "Update with TRAVIS-CI."
#- git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master
- git push --force --quiet "https://${USER_NAME}:${CODING_TOKEN}@${CODING_REF}" master:master

# safelist
branches: 
  only: 
    - master 

language: node_js
node_js: stable

git:
  depth: 1

env: 
  global: 
    # 使用https, 若使用ssh会出错
    - GH_REF: github.com/acc8226/acc8226.github.io.git
    # Coding Pages, 在这里不使用githubio, 是因为这个访问的速度比 github 快
    - USER_NAME: aleevz
    - CODING_REF: e.coding.net/aleevz/aleevz.coding.me.git