name: build
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

env:
  NODE_VERSION: 'lts/*' # set this to the node version to use

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: npm install, build
        run: |
          export TZ=Asia/Shanghai
          npm install hexo-cli -g
          npm ci
          hexo g --silent
          cp ./public/404/index.html ./public/404.html

      - name: Push to Gitee
        run: |
          cd public
          git config --global init.defaultBranch main
          git init
          git config user.name "GithubAction"
          git config user.email "acc8226@qq.com"
          git add .
          git commit -m "committed by github action"
          git push -f https://${{ secrets.USERNAME }}:${{ secrets.ACCESSTOKEN }}@${{ secrets.HOSTNAME }}/${{ secrets.USERNAME }}/${{ secrets.REPOPATH }} main

      - name: Build Gitee Pages
        uses: yanglbme/gitee-pages-action@main
        with:
          # 注意替换为你的 Gitee 用户名
          gitee-username: ${{ secrets.USERNAME }}
          # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          # 注意替换为你的 Gitee 仓库，仓库名严格区分大小写，请准确填写，否则会出错
          gitee-repo: ${{ secrets.USERNAME }}/${{ secrets.USERNAME }}
          branch: main
