name: kaiLee DiaoDiaoDiao

on:
  push:
    branches:
      - "master"
  workflow_dispatch:

env:
  NODE_VERSION: '16' # set this to the node version to use

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: npm install, build
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
      - run: npm install hexo-cli -g
      - run: npm ci
      - run: hexo clean
      - run: hexo g
      - run: git config --global user.name "giteego"
      - run: git config --global user.email "giteego@github.fun"
      - run: git clone --depth 1 https://${{ secrets.USERNAME }}:${{ secrets.ACCESSTOKEN }}@${{ secrets.HOSTNAME }}/${{ secrets.USERNAME }}/${{ secrets.REPOPATH }}
      - run: cd ${{ secrets.USERNAME }}
      - run: ls
      - run: git rm -rf .
      - run: cp -r ../public/* ./
      - run: cp ./404/index.html ./404.html
      - run: git add .
      - run: git commit -m "committed by gitee go"
      - run: git push origin master
